
body {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 100%;
}

.themain {
	max-width: 90em; /* 1440/16 */
	background: #373536;
	margin: auto;
	padding: 5em 0 3.125em; /* 80/16 */ /* 50/16 */
}

.wrapper {
	max-width: 80.5em; /* 1288/16 */
	margin: auto;
	box-shadow: 0.4375em 0.4375em 3.125em #1B1B1B; /* 7/16 */ /* 7/16 */ /* 50/16 */	
}

.container {
	max-width: 61.25em; /* 980/16 */
	margin: auto;
	overflow: hidden;
	padding: 0 1.25em; /* 20/16 */
}

header {
	background: #fecb10;
	line-height: 2.1875em; /* 35/16 */
}

.information li {
	float: left;
	margin-right: 0.9375em; /* 15/16 */
}

.information li:last-child {
	margin-right: 0;
}

.icons {
	float: right;
}

.icons li {
	display: inline-block;
	margin-left: 0.625em; /* 10/16 */
}

.icons li:first-child {
	margin-left: 0; 
}

.icons a {
	color: #000;
	font-size: 1em;
	font-family: sans-serif;
	transition: color;
}

.icons a:hover {
	color: rgba(0,0,0,0.75);
}



/* NAVIGATION */



nav {
	background: #1a1c28;
}

nav .construction {
	float: left;
	padding-top: 1.25em; /* 20/16 */
}

.construction h3 {
	color: #fecb10;
	font-weight: bold;
	font-size: 1.375em; /* 22/16 */
	letter-spacing: -0.045454545454545456em; /* 1/22 */
	font-style: italic; 
}

.construction h5 {
	color: #D9D9D9;
	font-size: 0.8125em; /* 13/16 */
}

nav .navigation {
	float: right;
	padding: 2em 0; /* 32/16 */
}

nav .navigation li {
	margin-left: 1.0714285714285714em; /* 15/14 */
	font-size: 0.875em; /* 14/16 */
	display: inline-block;
}

nav .navigation li a {
	color: #D9D9D9;
	transition: color 0.4s ease;
}

nav .navigation li:first-child {
	margin-left: 0;
}

nav .navigation .fa {
	color: #fecb10;
} 

nav .navigation li a:hover {
	color: #fecb10;
}



		/* Post-header */



.post-header {
	background: url('../Images/bg.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.title {
	color: #fff;
	text-align: center;
	max-width: 90%;
	margin: auto;
}

.title h2 {
	padding-top: 10%; /* 100/36 */
	font-size: 2.25em; /* 36/16 */
}

.title h1 {
	padding-top: 0.7142857142857143em; /* 40/56 */
	font-size: 3.5em; /* 56/16 */
	text-transform: uppercase;
	font-weight: bold;
}

.title h1:nth-of-type(2) {
	padding-top: 0.14285714285714285em; /* 8/56 */
	color: #fecb10;
}

.title p {
	padding: 0.45454545454545453em 0 1.1363636363636365em; /* 10/22 */ /* 25/22 */
	font-size: 1.375em; /* 22/16 */
	color: #fffdfe;
}

.title .div-btn {
	margin-bottom: 15%;
}

.button {
	border: none;
	background: #fecb10;
	color: #fff;
	padding: 0.8571428571428571em 0; /* 12/14 */
	width: 10em; /* 140/14 */
	font-weight: bold;
	font-size: 0.875em;  /* 14/16 */
	border-radius: 0.7142857142857143em; /* 10/14 */
	transition: color 0.4s ease;
}

.button:hover {
	color: #434343;
}

.title button:first-of-type {
	margin-right: 3.5714285714285716em; /* 50/14 */
}



		/* Welcome */



.welcome {
	background: #fff;
	padding: 50px 0px 30px 0;
}

.welcome .column {
	flex-basis: 53%;
}

.welcome1 {
	display: flex;
	justify-content: space-between;	
	align-items: center;
}

.welcome .column h2 {
	color: #fecb10;
	font-weight: bold;
	font-size: 1.875em; /* 30/16 */
}

.welcome .column h3 {
	color: #434343;
	font-weight: bold;
	font-size: 1.5em; /* 24/16 */
	padding-bottom: 0.8333333333333334em; /* 20/24 */
}

.welcome .column p {
	color: #373536;
	font-size: 0.875em; /* 14/16 */
	line-height: 1.2857142857142858em; /* 18/14 */
	padding-bottom: 2.142857142857143em; /* 30/14 */
	color: #6f6f6f;
}

.welcome .column p:first-of-type {
	padding-bottom: 1.0714285714285714em; /* 15/14 */
}



		/* Why */



.why {
	background: #f2f7fb;
	text-align: center;
	color: #434343;
}

.why h3 {
	font-size: 1.5em; /* 24/16 */
	padding: 2.5em 0 1.25em; /* 60/24 */ /* 30/24 */
	font-weight: bold;
}

.why p {
	font-size: 0.75em; /* 12/16 */
	line-height: 1.5em; /* 18/12 */
	padding-bottom: 2.0833333333333335em; /* 25/12 */
	color: #6f6f6f;
}

.why .circles {
 	display: flex;
 	justify-content: space-between;
 	flex-wrap: wrap;
}

.why .circle1 {
	flex-basis: 200px;
}

.why .kruh1 {
	box-sizing: content-box;
	width: 5em; /* 80/16 */
	height: 5em; /* 80/16 */
	border-radius: 50%;
	border: 0.3125em solid #fecb10; /* 5/16 */
	margin: auto;
}

.why .kruh1 i {
	line-height: 2.2222222222222223em; /* 80/36 */
	font-size: 2.25em; /* 36/16 */
}

.why h5 {
	padding: 1.4285714285714286em 0 1.0714285714285714em; /* 20/14 */ /* 15/14 */
	font-size: 0.875em; /* 14/16 */
	font-weight: bold;
}



		/* Services */



.our-services {
	background: #fff;
	color: #434343;
}

.our-services h3 {
	font-size: 1.5em; /* 24/16 */
	text-align: center;
	font-weight: bold;
	padding: 2.5em 0 1.25em; /* 60/24 */ /* 30/24 */
}


.port {
	display: flex;
	justify-content: space-between;
	padding-bottom: 60px;
}

.služba {
	flex-basis: 300px;
}

.port h4 {
	font-size: 1.125em; /* 18/16 */
	font-weight: bold;
	padding: 1.1111111111111112em 0; /* 20/18 */
}

.port p {
	padding-bottom: 1.6666666666666667em; /* 20/12 */
	font-size: 0.75em; /* 12/16 */
	line-height: 1.5em; /* 18/12 */
	color: #6f6f6f;
}



		/* Love */



.love {
	background: url('../Images/love.jpg') no-repeat;
	padding-bottom: 3.125em; /* 50/16 */
	text-align: center;
}

.love .menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 0;
}

.love h3 {
	font-size: 1.5em; /* 24/16 */
	font-weight: bold;
	padding: 2.5em 0 1.25em; /* 60/24 */ /* 30/24 */
	color: #fefefe;
}

.love p {
	font-size: 0.75em; /* 12/16 */
	line-height: 1.5em; /* 18/12 */
	padding: 0 2.5em; /* 30/12 */
	color: #fefefe;
}

.love li {
	padding: 8px 16px;
	margin-right: 10px;
	border-radius: 16px;
	transition: background 0.3s ease;
}

.love li:last-child {
	margin-right: 0;
}

.love a {
	font-size: 0.875em; /* 14/16 */
	color: #fefefe;
	font-weight: bold;
}

.love li:first-child, .love li:hover {
	background: #272727;
}



		/* Gallery */	



.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery .first {
	margin-right: 5px;
}

.gallery .second {
	margin-right: 5px;
}

.second-a, .third-a {
	margin-bottom: 5px;
}



		/* Customer */



.customer {
	background: #fefefe;
}

.customer h3 {
	font-size: 1.5em; /* 24/16 */
	font-weight: bold;
	padding: 2.5em 0 1.25em; /* 60/24 */ /* 30/24 */
	color: #434343;
	text-align: center;
}

.customer .odstavec {
	font-size: 0.75em; /* 12/16 */
	line-height: 1.5em; /* 18/12 */
	padding-bottom: 2.5em; /* 30/12 */
	color: #6f6f6f;
	text-align: center;
}

.reviews {
	padding-bottom: 2.5em; /* 40/16 */
	display: flex;
	justify-content: center;
}

.review1 {
	background: #e5e5e5;
	padding: 2.0833333333333335em 0.8333333333333334em 2.9166666666666665em 3.3333333333333335em; /* 25/12 */ /* 10/12 */ /* 35/12 */ /* 40/12 */
	font-size: 0.75em; /* 12/16 */
	line-height: 1.5em; /* 18/12 */
	margin-top: 0.8333333333333334em; /* 10/12 */
	border-radius: 1em; /* 12/12 */
}

.review2 {
	background: #fecb10;
	font-size: 0.75em; /* 12/16 */
	line-height: 1.5em; /* 18/12 */
	padding: 4.166666666666667em 1.6666666666666667em 5.833333333333333em 4.583333333333333em; /* 50/12 */ /* 20/12 */ /* 70/12 */ /* 55/12 */
	border-radius: 0.75em; /* 12/16 */
}

.face {	
	flex: 28%;
	margin-right: 5%;
}

.face h4 {
	font-weight: bold;
	color: #434343;
	text-align: center;
}

.face:nth-of-type(2) {	
	flex: 34%;
}

.face:last-of-type {	
	margin-right: 0;
}

.reviews img {
	border-radius: 50%;
	display: block;
	margin: auto;
	padding: 1.25em 0; /* 20/16 */
}



		/* Contact-Us */



.contact-us {
	background: #fecb10; 
	padding: 30px 0 40px;
}

.formulare {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.formulare1 {
	margin-bottom: 10px;
	display: flex;
	flex: 1;
}

.formulare2 {
	display: flex;
}

.cont1 h3 {
	font-size: 30px;
	font-weight: bolder;
	color: #222;
	padding-bottom: 10px;
}

.cont1 h4 {
	font-size: 34px;
	color: #434343;
}

.cont2 {
	padding-left: 5%;
	flex: 1;
}

.cont2 input, .cont2 button {
	border-radius: 8px;
	border: none;
	height: 40px;
}

.cont2 input {
	width: 100%;
	padding-left: 15px;
}

.cont2 button {
	width: 100px;
	background: #434343;
	color: #fff;
}

.name, .message {
	margin-right: 10px;
}

.cont2 button:hover {
	color: #fecb10;
}



		/* Footer */



.footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer {
	background: url('../Images/footer.jpg') no-repeat;
	max-width: 100%;
	background-position: 0 25%; 
	padding: 4.0625em 0;  /* 65/16 */
	color: #e5e5e5;
}

footer h4 {
	font-size: 1.25em; /* 20/16 */
	padding-bottom: 2em; /* 40/20 */
}

.footer {
	float: left;
}

.footer p {
	display: inline-block;
	padding-bottom: 0.8333333333333334em; /* 10/12 */
	font-size: 0.75em; /* 12/16 */
	line-height: 1.5em; /* 18/12 */
}

footer .construction {
	float: left;
	padding-bottom: 1.5625em; /* 25/16 */
}

footer .construction {
	float: left;
	padding-top: 0;
}

.foot1 {
	flex-basis: 300px;
	margin-right: 30px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.foot1 .social {
	overflow: hidden;
}

.foot1 .social li {
	margin-right: 1.125em; /* 18/16 */
	float: left;
	display: block;
	height: 2.5em; /* 40/16 */
	width: 2.5em; /* 40/16 */
	background: #fecb10;
	border-radius: 50%;
	text-align: center;
	line-height: 2.5em; /* 40/16 */
}

.foot1 .social li:last-child {
	margin-right: 0;
}

.foot1 .social li a{
	color: #000;
}

.foot2 {
	flex-basis: 150px;
	margin-right: 30px;
}

.foot2 .links {
	font-size: 0.75em; /* 12/16 */
	line-height: 2em; /* 24/12 */
}

.foot2 .links .fa {
	padding-right: 1.25em; /* 15/12 */
	color: #e5e5e5;
}

.foot2 .links a {
	color: #e5e5e5;
}

.foot2 .links a:hover {
	color: #fecb10;
}

.foot3 {
	flex-basis: 200px;
	margin-right: 30px;
}

.foot3 .kruh {
	display: flex;
	flex-direction: column;
	width: 45px; 
	height: 45px; 
	border-radius: 50%;
	border: 3px solid #fff; 
	text-align: center;
	margin-right: 5px;
}

.datum-blok {
	margin-bottom: 5px;
	display: flex;
}

.datum-blok .cislo {
	font-size: 18px;
	line-height: 22px;
}

.datum-blok .date {
	font-size: 11px;
}

.foot3 span {
	font-size: 0.5454545454545454em; /* 12/22 */
	line-height: 1.3333333333333333em; /* 16/12 */
}

.datum-blok p {
	flex-basis: 150px;
}

.foot4 {
	flex-basis: 200px;
}

.foot4 div{
	font-size: 0.75em; /* 12/16 */
	padding-bottom: 2.0833333333333335em; /* 25/12 */
}

.foot4 .fa {
	font-size: 1.5em; /* 18/12 */
	margin-right: 1.1111111111111112em; /* 20/18 */
}

.foot4 div:nth-of-type(3) {
	padding-bottom: 0.4166666666666667em; /* 5/12 */
}

.foot4 div:nth-of-type(4) {
	padding-left: 2.6666666666666665em; /* 32/12 */
}
.foot4 .fa-mobile, .fa-map-marker {
	padding-left: 0.2777777777777778em; /* 5/18 */
}



		/* Footer2 */



.footer2 {
	display: flex;
	justify-content: center;
	padding: 2.3076923076923075em 0; /* 30/13 */
	background: #1a1c28;
	text-align: center;
	color: #e5e5e5;
	font-size: 0.8125em; /* 13/16 */
}

.footer2 p:last-of-type {
	color: #fecb10; 
	margin-left: 10px;
}



		/* Media Queries */



@media (max-width: 1000px) {

	.our-services {
		font-size: 90%;
	}

	.our-services p {
		font-size: 100%;
	}

	.foot1, .foot2, .foot3, .foot4 {
		flex-basis: 350px;
		margin-right: 0;
		margin-bottom: 30px;
	}
}	

@media (max-width: 980px) {

	.contact.cont1 {
		padding-bottom: 30px;
	}

	.why .circle1 {
	 	flex-basis: 45%;
	}

	.port {
		display: block;
		text-align: center;
	}

	.služba {
		padding-bottom: 50px;
	}

	.post-header {
		font-size: 85%;
	}
}

@media (max-width: 900px) {

	.welcome1 {
		display: block;
	}

	.welcome img {
		display: block;
		margin: auto;
	}

	.welcome .column {
		margin-bottom: 30px;
	}

	.gallery .third {
		display: flex;
		margin-top: 5px;
	}

	.gallery .third-a {
		margin-right: 5px;
	}


	.formulare {
		text-align: center;	
		display: block;
	}
}

@media (max-width: 820px) {

	.post-header {
		font-size: 70%;
	}
}

@media (max-width: 800px) {

	.information li {
		float: none;
		display: inline-block;
	}

	.information {
		text-align: center;
	}

	.icons {
    	float: none;
    	text-align: center;
	}

	.icons li {
		margin-left: 20px; 	
	}

	.reviews {
		display: flex;
		flex-wrap: wrap;
	}

	.face:nth-of-type(1) {	
		margin-bottom: 50px;
	}

	.face:nth-of-type(2) {	
		flex: 100%;
		order: 1;
		margin-right: 0;
	}
}

@media (max-width: 757px) {

	.footer-content {
		justify-content: center;
	}	

	footer {
		padding-bottom: 0;
	}
}

@media (max-width: 700px) {

	nav .construction {
		float: none;
		display: block;
		text-align: center;
	}

	nav .navigation {
		float: none;
		padding: 1em 0;
		text-align: center;
	}
	
	.gallery .second {
		display: flex;
		margin-top: 5px;
		margin-right: 0;
	}

	.gallery .second-a {
		margin-right: 5px;
	}

	.gallery .third {
		margin-top: 0;
	}	
}

@media (max-width: 680px) {

	.post-header {
		font-size: 60%;
	}
}

@media (max-width: 548px) {

	.information li:nth-child(2) {
		margin-right: 0;
	}

	.post-header {
		font-size: 55%;
	}
}

@media (max-width: 500px) {
	
	nav .navigation li {
		width: 33%;
		margin-left: 0;
		padding: 10px 0;
	}

	.face {	
		flex: 100%;
		margin-right: 0;
	}

	.face:nth-of-type(3) {	
		order: 3;
	}

	.face:nth-of-type(2) {	
		margin-right: 0;
		margin-bottom: 40px;
	}

	.love .menu {
		margin: auto;
		display: block;
		width: 200px;
	}

	.love .menu li {
		margin-bottom: 5px;
	}

	.gallery .first {
		margin-right: 0;
		flex-basis: 100%;
	}

	.gallery .second, .gallery .third {
		flex-direction: column;
		flex-basis: 100%;
	}

	.gallery .second-a, .gallery .third-a {
		flex-direction: column;
		margin-right: 0;
	}

	.gallery .second-b {
		margin-bottom: 5px;
	}

	.why .circle1 {
	 	flex-basis: 100%;
	}
}

@media (max-width: 450px) {

	.formulare1, .formulare2 {
		flex-direction: column;
	}

	.name, .message {
		margin-bottom: 10px;	
	}

	.cont2 button {
		margin: auto;
	}

	.footer2 {
		flex-direction: column;
	}

	.footer2 p:last-of-type {
		padding-top: 20px;
		margin-left: 0;
	}
}

@media (max-width: 400px) {

	nav .navigation li {
		width: 50%;
	}

	.information li {	
		width: 100%;
	}
	
	.why .circles .circle1 {
		width: 100%; 
	}
}
